# ==========================================
# 1. Compilación y Construcción (Maven)
# ==========================================
# Ignora la carpeta 'target' en cualquier nivel de profundidad (raíz o subcarpetas)
**/target/

# Ignora archivos .class sueltos por si acaso se compila algo manualmente
*.class

# Archivo de bitácora de NetBeans para acciones personalizadas de Maven
nbactions.xml


# ==========================================
# 2. Entornos de Desarrollo (IDEs)
# ==========================================

### --- IntelliJ IDEA ---
# Ignora la carpeta .idea en cualquier nivel
**/.idea/
# Ignora archivos de módulos específicos de IntelliJ
*.iml
# Ignora carpetas de salida alternativas
**/out/

### --- NetBeans ---
# Ignora la carpeta de configuración de NetBeans en cualquier nivel
**/nbproject/


# ==========================================
# 3. Archivos del Sistema y Logs de Error
# ==========================================
# Historial del shell interactivo de Java (si llegas a usar jshell)
jshell.history

# Archivos de volcado de memoria (Crash logs) de la JVM
hs_err_pid*.log
reply_pid*.log

# Archivos temporales o de configuración de editores ligeros o del sistema
.vscode/
.vs/
.DS_Store
Thumbs.db
*.md
/SPP/src/main/java/mx/uv/spp/util/GeneradorCredenciales.java
